@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@font-face {
  font-family: 'Paris-pro';
  src: url("./assets/fonts/parisPro.otf");
}
:root {
  --background-color: #141414;
  --font-work-san: 'Work Sans', sans-serif;
  --font-paris-pro: 'Paris-pro', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}
